  section {
    margin: 0 120px;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  header div {
    margin-left: auto;
    font-size: 20px;
  }
  header ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  #main {
    margin: 0 120px;
    margin-top: 200px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #main .main-text{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
  }
  .main-text span {
      border-bottom: 3px solid #ff6295;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .navbar a:hover{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    color: #ff6295;
  }
.logo {
  text-align: left;
  justify-content: left;
  display: inline-block;
  margin: 0;
}
.logo h4{
  display: inline-block !important;
  color: #ff6295;
  margin: 0;
}
.logo ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
