<<<<<<< HEAD
.chart-container{
    /* background-color: red; */
    margin-left: 4%;
    margin-right: auto;
=======
.chart-container {
    display:flex;
    justify-content:center;
    align-items: center;
}
canvas {
    text-align: center;
>>>>>>> 95e2ab60f7a27637d05c9f4b4e3a87de0ebcbfb9
    justify-content: center;
    display: flex;
}
.statistics span {
    border-bottom: 3px solid #ff6295 ;
}
.title{
    text-align: center;
    justify-content: center;
    font-weight: 400; 
    font-size: 30px;       
}

#main-stats {
    margin: 50px 0; 
    display: grid;
    grid-template-columns: 50px 90px;
    justify-content: center;
    display: flex;
  }
